body, html {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    min-width: 800px;
}

/* BUTTONS */
button.trans {
    padding: 12px 12px;
    border: 0;
    background-color: transparent;
    outline: none;
    color: rgba(129, 20, 171, .7);
    cursor: pointer;
}

button.trans:hover {
    color: #8114ab;
}

button.trans.gray {
    color: rgba(50, 50, 50, .8);
}

button.trans.gray:hover {
    color: #323232;
    background-color: rgba(50, 50, 50, .05);
}

button.trans.gray:active {
    color: #323232;
    background-color: rgba(50, 50, 50, .08);
}

button.outline {
    padding: 8px 12px;
    border: 2px solid #eee;
    background-color: transparent;
    outline: none;
    color: rgba(129, 20, 171, .7);
    cursor: pointer;
}

button.outline:hover {
    border-color: rgba(129, 20, 171, .7);
    color: #8114ab;
}

button.outline.red {
    color: rgba(218, 20, 10, .7);
}

button.outline.red:hover {
    border-color: rgba(218, 20, 10, .7);
    color: rgb(218, 20, 10);
}

#bn-wrapper {
    position: fixed;
    border-bottom: 1px solid #e2e2e2;
    top: 0;
    /*height: 50px;*/
    width: 100%;
    background-color: rgba(255,255,255,.6);
    backdrop-filter: blur(12px) saturate(180%);
    z-index: 9999;
}

#bn-title {
    padding: 15px 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #8114ab;
}

#bn-title > b {
    font-weight: 600;
}

#bn-nav-ul {
    display: block;
    position: relative;
    list-style: none;
    padding: 3px 0;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.02);
}

.bn-nav-li {
    display: inline-block;
    margin: auto 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #555;
    cursor: pointer;
}

.bn-nav-li.current {
    font-weight: 500;
}

.bn-nav-li:hover {
    color: #222;
}

#doc {
    padding-top: 100px;
}