body, html {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    min-width: 800px;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: inherit;
    color: inherit;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.monospace {
    font-family: 'Menlo', monospace;
}

/* BUTTONS */
button.trans {
    padding: 12px 12px;
    border: 0;
    background-color: transparent;
    outline: none;
    color: rgba(129, 20, 171, .7);
    cursor: pointer;
}

button.trans:hover {
    color: #8114ab;
}

button.trans.gray {
    color: rgba(50, 50, 50, .8);
}

button.trans.gray:hover {
    color: #323232;
    background-color: rgba(50, 50, 50, .05);
}

button.trans.gray:active {
    color: #323232;
    background-color: rgba(50, 50, 50, .08);
}

button.trans.red {
    color: rgba(218, 20, 10, .8);
}

button.trans.red:hover {
    color: #da140a;;
    background-color: rgba(218, 20, 10, .05);
}

button.trans.red:active {
    color: #da140a;;
    background-color: rgba(218, 20, 10, .08);
}

button.outline {
    padding: 8px 12px;
    border: 2px solid #eee;
    background-color: transparent;
    outline: none;
    color: rgba(129, 20, 171, .7);
    cursor: pointer;
}

button.outline:hover {
    border-color: rgba(129, 20, 171, .7);
    color: #8114ab;
}

button.outline.red {
    color: rgba(218, 20, 10, .7);
}

button.outline.red:hover {
    border-color: rgba(218, 20, 10, .7);
    color: rgb(218, 20, 10);
}

button.outline.gray {
    color: rgba(124, 124, 124, .7);
}

button.outline.gray:hover {
    border-color: rgba(124, 124, 124, .7);
    color: rgb(124, 124, 124);
}

button.outline.blue {
    color: rgba(58, 150, 210, .7);
}

button.outline.blue:hover {
    border-color: rgba(58, 150, 210, .7);
    color: rgb(58, 150, 210);
}

/* POPUP */
#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(5px) saturate(120%);
    z-index: 999999;
}

#popup-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 400px;
    max-width: 600px;
    height: auto;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

#popup-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#popup-btns {
    text-align: center;
}

#bn-wrapper {
    position: fixed;
    border-bottom: 1px solid #e2e2e2;
    top: 0;
    /*height: 50px;*/
    width: 100%;
    background-color: rgba(255,255,255,.6);
    backdrop-filter: blur(12px) saturate(180%);
    z-index: 9999;
}

#bn-title {
    padding: 15px 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #8114ab;
}

#bn-title > b {
    font-weight: 600;
}

#bn-nav-ul {
    display: block;
    position: relative;
    list-style: none;
    padding: 3px 0;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.02);
}

.bn-nav-li {
    display: inline-block;
    margin: auto 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #555;
    cursor: pointer;
}

.bn-nav-li.current {
    font-weight: 500;
}

.bn-nav-li:hover {
    color: #222;
}

#doc {
    padding-top: 100px;
}