pre {
    margin: 0;
    font-size: 11px;
}

#tv-wrapper {
    position: relative;
    padding: 10px 40px;
    width: 100%;
    /*background-color: #aaa;*/
}

#tv {
    position: relative;
    border: 1px solid #e2e2e2;
    padding: 10px;
    min-height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

#tv-toolbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    /*padding: 0 5px;*/
    /*height: 35px;*/
    left: 0;
    top: 0;
    width: 100%;
    font-size: 12px;
    background-color: rgba(0,0,0,.05);
    backdrop-filter: blur(12px) saturate(180%);
    z-index: 999;
}

#tv-t-left {
    flex-grow: 1;
}

#tv-metadata {
    margin-top: 40px;
    /*padding: 5px;*/
}

#tv-metadata, #tv-result, #tv-config, #tv-substaks {
    position: relative;
    margin-bottom: 10px;
    /*padding-top: 30px;*/
}

#tv-result-title, #tv-config-title, #tv-subtasks-title {
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 1px solid #eee;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

#tv-result-list-wrapper, #tv-config-list-wrapper, #tv-subtasks-list-wrapper {
    padding: 10px;
}

.tv-result-cap {
    border: 1px solid #e2e2e2;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

#tv-metadata-table,
#tv-config-table
{
    border: 1px solid #eee;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #333;
}

#tv-metadata-table td,
#tv-config-table td
{
    /*border: 1px solid #eee;*/
    padding: 8px 10px;
    vertical-align: top;
}

#tv-metadata-table td:first-child,
#tv-config-table td:first-child
{
    font-weight: 500;
}

#tv-metadata-table tr:nth-child(even),
#tv-config-table tr:nth-child(even)
{
    background: #f2f2f2;
}

#tv-metadata-table tr:hover,
#tv-config-table tr:hover
{
    color: #000;
    background: #eee;
}

#tv-result, #tv-config, #tv-substaks {
    /*padding: 5px;*/
    border: 1px solid #eee;
}

#tv-subtasks-list {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.tv-subtasks-item {
    border: 1px solid #eee;
    border-left: 3px solid #ddd;
    padding: 8px 10px;
    margin-bottom: 5px;
    font-size: 11px;
    cursor: pointer;
}

.tv-subtasks-item:hover {
    background-color: #f5f5f5;
}

.tv-subtasks-item:last-child {
    margin-bottom: 0;
}

.tv-subtasks-item[status='running'] {
    border-left: 3px solid #abe28b;
}

.tv-subtasks-item[status='failed'] {
    border-left: 3px solid #ff8d8d;
}

.tv-subtasks-item[status='done'] {
    border-left: 3px solid #95cadc;
}

.tv-subtasks-item .tv-subtasks-name,
.tv-subtasks-item .tv-subtasks-desc
{
    display: inline-block;
}

.tv-subtasks-item .tv-subtasks-name {
    width: 150px;
    font-weight: 600;
}

#tv-result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.tv-result-li table {
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

li.tv-result-li table th,
li.tv-result-li table td {
    padding: 8px 10px;
    border-right: 1px solid #e2e2e2;
}

li.tv-result-li table thead th {
    background-color: #eee;
    font-weight: 500;
}

li.tv-result-li table tr:nth-child(even) {
    background: #f2f2f2;
}