{% extends "base.html" %}

{% block title %}Footprint{% endblock %}
{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
{% endblock %}

{% block body %}
    {{ super() }}
    <div id="main">
        <div id="bn-wrapper">
            <div id="bn-title">Foot<b>print</b></div>
            <nav>
                <ul id="bn-nav-ul">
                    <li class="bn-nav-li current">Projects</li>
                    <li class="bn-nav-li">Settings</li>
                </ul>
            </nav>
        </div>
        <div id="doc">{% block doc %}{% endblock %}</div>
    </div>
{% endblock %}
