{% extends "base_ui.html" %}

{% block title %}Footprint{% endblock %}
{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/proj_view.css') }}"/>
    <script src="{{ url_for('static', filename='js/proj_view.js') }}"></script>

{% endblock %}

{% block doc %}
    {{ super() }}
    <div id="pv-wrapper">
        <div id="pv">
            <div id="pv-toolbar">
                <div id="pv-t-left">
                    <button class="trans gray"><i class="fas fa-plus"></i> New Project</button>
                    <button class="trans gray"><i class="far fa-circle"></i> Show Archived</button>
                </div>
                <div id="pv-t-right">
                </div>
            </div>
            <div id="pv-list">
                <ul id="proj-list">
                    <li class="proj-li">
                        <div class="proj-info">
                            <div class="proj-summary">
{#                                <i class="fas fa-folder"></i>#}
                                <span class="proj-s-name">Project 1</span>
                                <span class="proj-s-task">Task: <span class="proj-s-task-num">0</span></span>
                                <span class="proj-s-run"><i class="fas fa-circle fa-sm"></i> Running: <span class="proj-s-run-num">0</span></span>
                                <span class="proj-s-fail"><i class="fas fa-circle fa-sm"></i> Failed: <span class="proj-s-fail-num">0</span></span>
                                <span class="proj-s-done"><i class="fas fa-circle fa-sm"></i> Done: <span class="proj-s-done-num">0</span></span>
                            </div>
                            <div class="proj-ops">
                                <button class="trans gray"><i class="far fa-eye-slash"></i> Archive</button>
                            </div>
                        </div>
                        <div class="proj-tasks">
                            <div class="proj-tasks-ops">
                                <div class="proj-tasks-ops-left">
                                    <button class="outline"><i class="fas fa-plus"></i> New Task</button>
                                </div>
                                <div class="proj-tasks-ops-right">
                                    <button class="outline red"><i class="fas fa-trash"></i> Delete Project</button>
                                </div>
                            </div>
                            <ul class="proj-tasks-list">
                                <li class="proj-tasks-item">
                                    <span class="proj-tasks-name">Task 1</span>
                                    <span class="proj-tasks-desc">Task 1</span>
                                </li>
                                <li class="proj-tasks-item">
                                    <span class="proj-tasks-name">Task 1</span>
                                    <span class="pproj-tasks-desc">Task 1</span>
                                </li>
                                <li class="proj-tasks-item">
                                    <span class="proj-tasks-name">Task 1</span>
                                    <span class="proj-tasks-desc">Task 1</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}