{% extends "base_ui.html" %}

{% block title %}Footprint{% endblock %}
{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task_view.css') }}"/>
    <script src="{{ url_for('static', filename='js/task_view.js') }}"></script>

{% endblock %}

{% block doc %}
    {{ super() }}
    <div id="tv-wrapper">
        <div id="tv">
            <div id="tv-toolbar">
                <div id="tv-t-left">
{#                    <span id="tv-toolbar-name">{{ metadata.name }}</span>#}
                </div>
                <div id="tv-t-right">
                    <button class="trans red"><i class="far fa-circle"></i> Delete Task</button>
                </div>
            </div>
            <div id="tv-metadata">
                <table id="tv-metadata-table">
                    <tbody>
                        <tr>
                            <td width="100">Name</td>
                            <td>{{ metadata.name }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{ metadata.status }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ metadata.desc }}</td>
                        </tr>
                        <tr>
                            <td>Created at</td>
                            <td>{{ metadata.create_time }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tv-substaks">
                <ul id="tv-subtasks-list">
                    {% for subtask in metadata.subtasks %}
                        <li>{{ subtask }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tv-config">
                <div id="tv-config-title"><i class="fas fa-sliders-h"></i> Task Configuration</div>
                <table id="tv-config-table"></table>
            </div>
            <div id="tv-result">
                <div id="tv-result-title"><i class="fas fa-chart-bar"></i> Task Results</div>
                <div id="tv-result-list-wrapper">
                    <ul id="tv-result-list">
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}